<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">All User's</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
	<div class="row">
		<% @users.each do |user| %>
			<div class="card border-success mb-3" style="max-width: 18rem;" id="card">
				<div class="card-header bg-transparent border-success">Name: <%= user.first_name %> <%= user.last_name %></div>
			  <div class="card-body text-success">
					<h5 class="card-title">Jobs and Boats</h5>
					<% user.jobs.each do |job| %>
						<p class="card-text">Job Description:<%= job.description %></p>	
					<% end %>
					<% user.boats.each do |boat| %>
						<p class="card-text">Boat Name: <%= boat.name %></p>
					<% end %>
		    </div>
				<div class="card-footer bg-transparent border-success"></div>
			</div>
		<% end %>
	</div>
</div>


