// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#card {
	background: inherit;
	p {
		background: inherit;	
	}
}
.form-group {
	text-align: center;
}