<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">All Boats</h1>
  </div>
</div>
<div class="container">
	<div class="row">
		<%= render @boats %>
	</div>		
</div>
